<section class="recipe-comments">
        <h2 class="mb3">4 Responses</h2>
        <ul class="list-reset">
          <li class="mb4">
            <h3 class="ampstart-subtitle">Sriram</h3>
            <span class="h5 block mb3">02.24.17 at 6:01 pm</span>
            <p>This is perfect for a summer patio party. Thanks for another great one!</p>
          </li>
          <li class="mb4">
            <h3 class="ampstart-subtitle">Eric</h3>
            <span class="h5 block mb3">02.24.17 at 5:14 am</span>
            <p>These were so good I woke up dreaming about them. Regards, Eric.</p>
          </li>
        </ul>
      </section>