<footer class="ampstart-footer flex flex-column items-center px3 ">
    <nav class="ampstart-footer-nav">
      <ul class="list-reset flex flex-wrap mb2">
        {% for item in site.data.footer %}
        <li class="px2"><a class="text-decoration-none ampstart-label" href="{{ item.link }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <small>
      &copy; {{ site.time | date: "%Y" }} {{ site.title }} Autoren
    </small>
  </footer>
  <amp-analytics type="googleanalytics" id="analytics-ga">
      <script type="application/json">
      {
        "vars": {
          "account": "{{ site.ga_id }}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
      </script>
    </amp-analytics>