
        <div class="ampstart-card max-width-1 pt2">

            <form method="GET" action="/" target="_top" class="p0 m0 px3 mb4">
              <fieldset class="border-none p0 m0">
                    <h2 class="block mb4">Get our newsletter</h2>
            
            <!-- Start Input -->
            <div class="ampstart-input inline-block relative m0 p0 mb3 ">
              <input type="email" value="" name="emailid" id="emailid" class="block border-none p0 m0" placeholder="Email">
              <label for="emailid" class="absolute top-0 right-0 bottom-0 left-0" aria-hidden="true">Email</label>
            </div>
            <!-- End Input-->
            
            
            
            
            
            
            
            
            
            
            
            <!-- Start Submit -->
            <input type="submit" name="submit" value="SUBMIT" id="submit" class="ampstart-btn mb3 ampstart-btn-secondary">
            <!-- End Submit -->
            
            
            
            
            
            
            
            
              </fieldset>
            </form>
                    </div>
            
            