<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>
  {{ site.title }}: {{ page.title }}
</title>

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="robots" content="index,follow"> {% if page.author %}
<meta name="author" content="{{ page.author }}"> {% endif %}
<meta itemprop="name" content="{{ site.title }}: {{ page.title }}">
<meta name="theme-color" content="{{ site.color }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<link rel="apple-touch-icon-precomposed" sizes="512x512" href="{{ site.baseurl }}/uploads/logo_512.jpg">
<link rel="apple-touch-icon-precomposed" sizes="196x196" href="{{ site.baseurl }}/uploads/logo_196.jpg">
<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/uploads/logo_64.jpg">
<link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}/uploads/logo_196.jpg">
<link rel="shortcut icon" href="{{ site.baseurl }}/uploads/logo_64.jpg">

<meta name="msapplication-TileImage" content="{{ site.baseurl }}/uploads/logo_196.jpg">
<meta name="msapplication-TileColor" content="{{ site.color }}">

<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ site.title }}: {{ page.title }}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}: {{ site.description }}{% endif %}"
/>
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/uploads/logo_512.jpg" />
<meta property="og:image:type" content="image/png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{% if site.twitter_username %}@{{ site.twitter_username }}{% else %}@nitegate{% endif %}"
/>
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}"
/>
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}: {{ site.description }}{% endif %}"
/>
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/uploads/logo_512.jpg" />

<link href="{{ site.baseurl }}/feed.xml" type="application/rss+xml" rel="alternate" title="RSS feed">

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ site.title }}",
    "headline": "{{ site.subtitle }}",
    "url": "{{ site.url }}",
    "image": "{{ site.url }}{{ site.baseurl }}/uploads/logo_512.jpg",
    "description": "{{ site.description }}"
  }
</script>

{% if page.path contains 'index' %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [{ % assign k = 1 %
      } { %
        for post in site.posts | limit: 10 %
      } {
        "@type": "ListItem",
        "position": {
          {
            k
          }
        },
        "url": "{{ site.url }}{{ site.baseurl }}{{ post.url }}" { % assign k = k | plus: 1 %
        }
      } { %
        if forloop.last %
      } { %
        else %
      }, { % endif %
      } { % endfor %
      }

    ]
  }
</script>
{% endif %} {% if page.path contains '_posts' %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://google.com/article"
    },
    "headline": "{{ page.title }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}{{ page.gallery[0].image }}",
      "height": 720,
      "width": 1280
    },
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}{{ site.baseurl }}/uploads/logo_196.jpg"
      }
    },
    "description": "{{ page.excerpt }}"
  }
</script>
{% endif %}