<section class="ampstart-related-article-section p3 mb4">
<h2 class="ampstart-heading h3 m0 mb3">Teile diesen Post</h2>

<amp-social-share height="30" width="40" layout="fixed" class="ampstart-social-share" type="email"></amp-social-share>
<amp-social-share height="30" width="40" layout="fixed" class="ampstart-social-share" type="facebook" data-param-app_id="254325784911610"></amp-social-share>
<amp-social-share height="30" width="40" layout="fixed" class="ampstart-social-share" type="gplus"></amp-social-share>
<amp-social-share height="30" width="40" layout="fixed" class="ampstart-social-share" type="twitter"></amp-social-share>
</section>