
.ampstart-btn {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1rem;
    line-height: 1.125rem;
    padding: .7em .8em;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff
  }
  
  .ampstart-btn:visited {
    color: #fff
  }
  
  .ampstart-btn-secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #000
  }
  
  .ampstart-btn-secondary:visited {
    color: #000
  }
  
  .ampstart-btn:active .ampstart-btn:focus {
    opacity: .8
  }
  
  .ampstart-btn[disabled],.ampstart-btn[disabled]:active,.ampstart-btn[disabled]:focus,.ampstart-btn[disabled]:hover {
    opacity: .5;
    outline: 0;
    cursor: default
  }