
.ampstart-btn {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1rem;
    line-height: 1.125rem;
    padding: .7em .8em;
    text-decoration: none;
    black-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    background-color: $dark-green;
    color: $black;
    border: 1px solid $dark-green;
  }
  
  .ampstart-btn:visited {
    color: $black
  }
  
  .ampstart-btn-secondary {
    background-color: $black;
    color: $dark-green;
    border: 1px solid $dark-green
  }
  
  .ampstart-btn-secondary:visited {
    color: $dark-green
  }
  
  .ampstart-btn[disabled],.ampstart-btn[disabled]:active,.ampstart-btn[disabled]:focus,.ampstart-btn[disabled]:hover {
    opacity: .5;
    outline: 0;
    cursor: default
  }