.ampstart-footer {
    background-color: #fff;
    color: #000;
    padding-top: 5rem;
    padding-bottom: 5rem
}

.ampstart-footer .ampstart-icon {
    fill: #000
}

.ampstart-footer .ampstart-social-follow li:last-child {
    margin-right: 0
}