.ampstart-input {
    max-width: 100%;
    width: 300px;
    min-width: 100px;
    font-size: 1rem;
    line-height: 1.5rem
}

.ampstart-input [disabled],
.ampstart-input [disabled]+label {
    opacity: .5
}

.ampstart-input [disabled]:focus {
    outline: 0
}

.ampstart-input>input,
.ampstart-input>select,
.ampstart-input>textarea {
    width: 100%;
    margin-top: 1rem;
    line-height: 1.5rem;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #4a4a4a;
    background: none;
    color: #4a4a4a;
    outline: 0
}

.ampstart-input>label {
    color: #003f93;
    pointer-events: none;
    text-align: left;
    font-size: .875rem;
    line-height: 1rem;
    opacity: 0;
    -webkit-animation: .2s;
    animation: .2s;
    -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.ampstart-input>input:focus,
.ampstart-input>select:focus,
.ampstart-input>textarea:focus {
    outline: 0
}

.ampstart-input>input:focus::-webkit-input-placeholder,
.ampstart-input>select:focus::-webkit-input-placeholder,
.ampstart-input>textarea:focus::-webkit-input-placeholder {
    color: transparent
}

.ampstart-input>input:focus::-moz-placeholder,
.ampstart-input>select:focus::-moz-placeholder,
.ampstart-input>textarea:focus::-moz-placeholder {
    color: transparent
}

.ampstart-input>input:focus:-ms-input-placeholder,
.ampstart-input>select:focus:-ms-input-placeholder,
.ampstart-input>textarea:focus:-ms-input-placeholder {
    color: transparent
}

.ampstart-input>input:focus::placeholder,
.ampstart-input>select:focus::placeholder,
.ampstart-input>textarea:focus::placeholder {
    color: transparent
}

.ampstart-input>input:not(:placeholder-shown):not([disabled])+label,
.ampstart-input>select:not(:placeholder-shown):not([disabled])+label,
.ampstart-input>textarea:not(:placeholder-shown):not([disabled])+label {
    opacity: 1
}

.ampstart-input>input:focus+label,
.ampstart-input>select:focus+label,
.ampstart-input>textarea:focus+label {
    -webkit-animation-name: a;
    animation-name: a
}

@-webkit-keyframes a {
    to {
        opacity: 1
    }
}

@keyframes a {
    to {
        opacity: 1
    }
}

.ampstart-input>label:after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 45%;
    background: #003f93;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    width: 10px
}

.ampstart-input>input:focus+label:after,
.ampstart-input>select:focus+label:after,
.ampstart-input>textarea:focus+label:after {
    left: 0;
    width: 100%;
    visibility: visible
}

.ampstart-input>input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ampstart-input>input[type=range] {
    border-bottom: 0
}

.ampstart-input>input[type=range]+label:after {
    display: none
}

.ampstart-input>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ampstart-input>select+label:before {
    content: "⌄";
    line-height: 1.5rem;
    position: absolute;
    right: 5px;
    zoom: 2;
    top: 0;
    bottom: 0;
    color: #003f93
}

.ampstart-input-chk,
.ampstart-input-radio {
    width: auto;
    color: #4a4a4a
}

.ampstart-input input[type=checkbox],
.ampstart-input input[type=radio] {
    margin-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #003f93;
    vertical-align: middle;
    margin-right: .5rem;
    text-align: center
}

.ampstart-input input[type=radio] {
    border-radius: 20px
}

.ampstart-input input[type=checkbox]:not([disabled])+label,
.ampstart-input input[type=radio]:not([disabled])+label {
    pointer-events: auto;
    -webkit-animation: none;
    animation: none;
    vertical-align: middle;
    opacity: 1;
    cursor: pointer
}

.ampstart-input input[type=checkbox]+label:after,
.ampstart-input input[type=radio]+label:after {
    display: none
}

.ampstart-input input[type=checkbox]:after,
.ampstart-input input[type=radio]:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    line-height: 1.4rem;
    vertical-align: middle;
    text-align: center;
    background-color: #fff
}

.ampstart-input input[type=checkbox]:checked:after {
    background-color: #003f93;
    color: #fff;
    content: "✓"
}

.ampstart-input input[type=radio]:checked {
    background-color: #fff
}

.ampstart-input input[type=radio]:after {
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border-radius: 12px
}

.ampstart-input input[type=radio]:checked:after {
    content: "";
    font-size: 3rem;
    background-color: #003f93
}

.ampstart-input>label,
_:-ms-lang(x) {
    opacity: 1
}

.ampstart-input>input:-ms-input-placeholder,
_:-ms-lang(x) {
    color: transparent
}

.ampstart-input>input::placeholder,
_:-ms-lang(x) {
    color: transparent
}

.ampstart-input>input::-ms-input-placeholder,
_:-ms-lang(x) {
    color: transparent
}

.ampstart-input>select::-ms-expand {
    display: none
}

.ampstart-input {
    width: 100%
}