
        <p class="mb4 px3">Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>

        <p class="mb4 px3">Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. </p>
        <amp-img src="/uploads/ingredient1.jpg" width="683" height="1024" layout="responsive" alt="strawberries" class="mb4 mx3"></amp-img>

        <amp-img src="/uploads/ingredient3.jpg" width="1280" height="960" layout="responsive" alt="strawberries lemons and mint" class="mb4 mx3"></amp-img>

        <amp-img src="/uploads/ingredient2.jpg" width="683" height="1024" layout="responsive" alt="lemon in a bowl" class="mb4 mx3"></amp-img>

        <amp-img src="/uploads/spritzer.jpg" width="1280" height="853" layout="responsive" alt="The final spritzer" class="mb4 mx3"></amp-img>

        <section class="px3 mb4">
          <h2 class="mb2">Ingredients</h2>
          <span class="ampstart-hint block mb2">SERVINGS 4</span>
          <ul class="mb4">
            <li>2 bunches of strawberries</li>
            <li>1 lemon</li>
            <li>1 bunch of mint</li>
            <li>1 piece of ginger chopped</li>
            <li>1 bottle of sparkling water</li>
          </ul>

        <section class="mb4">
          <h2 class="mb2">Instructions</h2>

          <ol class="">
            <li class="mb4">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</li>
            <li class="mb4"> Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</li>
            <li class="mb4"> Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</li>
            <li class="mb4">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. </li>
            <li class="mb4"> Duis leo. Sed fringilla mauris sit  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</li>
          </ol>
        </section>

        
      </section>
        