---
layout: default
---

<header>
        <h1 class="ampstart-heading m0 mb2">{{ page.title }}</h1>
         
      <section class="mb4 px3">
        <p>Datum: {{ page.date | date: "%d.%m.%Y" }}</p>
        <p>Kategorien:
        {% for category in page.categories %}
        <span class="chip">{{ category }}</span> 
        {% endfor %}
        
      </p>
      
      </section>
        {% if page.gallery[0].image != '/uploads/sample.jpg' %}
        <amp-img src="{{ page.gallery[0].image }}" width="1280" height="720" layout="responsive" alt="{{ page.gallery[0].alt }}" class="mb4 mx3"></amp-img>
        {% endif %}
      </header>
<section class="mb4 px3">
{{ content }}
</section>
<section class="mb4 px3 center">
{% if page.next.url %}<a href="{{ site.baseurl }}{{ page.next.url }}" class="ampstart-btn">Nächster</a>{% endif %}
<a href="/" class="ampstart-btn">Home</a>
{% if page.previous.url %}<a href="{{ site.baseurl }}{{ page.previous.url }}" class="ampstart-btn">Vorheriger</a>{% endif %}
</section>
{% include social-share.html %}
{% include recent-posts.html %}
